body {
    font-family: 'Montserrat', sans-serif;
    background: #dbebfa;
    color: #004d73;
    
}

.bigname {
    color: #dbebfa;
    background-color: #00334e;
    width: 200px;
    border-radius: 20px 0px;
    font-weight: 600;
    margin-left: 25%;
    position: fixed;
}
.myphoto{
    border: #007fbd;
    border-radius: 25% 5%;
    margin-left: 200px;
    margin-left: 80%;
    position: fixed;

}
.d-indice{
    margin-left: 25%;
    position: fixed;
    margin-top: 20%
}
.d-right{
    background-color: #dbebfa;
    text-align: center;
    margin-left:50%;
    border-radius: 5px;
    margin-right: 25%;
    clear:left;


}
.indice-button{
    background-color: #007fbd;
    padding: 5px 10px;
    color:#dbebfa;
    text-decoration: none;
    border-radius: 3px;
    margin: 5px;
    display:block;
    width: 100px;
    text-align: center;
}
.indice-button:hover{
    background-color: #004d73;
}
.connections{
    background-color: #00334e;
    padding: 5px 10px;
    color:#dbebfa;
    text-decoration: none;
    border-radius: 3px;
    margin: 5px;
    display:inline-block;
    width: 100px;
    text-align: center;
}
.header{
    background-color: #00334e;
    width:30%;
    height: 100%;
    position:fixed;
}
li{
    list-style: none;
}
p em{
    text-align:justify;
}
span{
    font-weight: 200;
}
    
